body {
    background-color: white;
    color: #0f0b0b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

#header{
    background-color: white;
    color: black;

}

.companylogo {
    width: 100px;
    padding: 10px;
    padding-left: 20px;

}

#nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));

}

#nav-bar ul{
    padding: 0;
    list-style: none;
    float: right;
    padding-top: 25px;
    padding-right: 20px;


}

#nav-bar a{
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;

}

.app-text{
    text-align: center;
    text-decoration: none;
    color: rgb(55, 0, 255);

}

.app-text a:visited{
    text-decoration: underline;
    color: red;
}

.app-text a:hover{
    text-decoration: underline;
    color: green;
}

.app-text a:active{
    color: blue;
}

#form-photo{
    display: inline-block;
    width: 200px;
}

.food{
    display: block;  
}

.caption{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 250%;    
    width: 300px;
    word-wrap: break-word;
    
}

#formbox{
    width: 30%;
    height: 500px;
    position: absolute;
    top: 30%;
    left: 60%;
    margin-right: 10%;
        background-color: #ff000057;
    border-radius: 20px;
    color: white;
    

}

.register{
    text-align: center;

}

.discover{
    text-align: center;
    width: 200px;
    word-wrap: break-word;
}

.app-text{
    color: red;
}

.app-text a:hover{
    color: black;
}

.video{
    display: block;
    margin: auto;
    height: 390px;
    width: 500px;
    padding-top: 0;
    padding-bottom: 30px;   

}

#footer{
    margin-top: 20px;
    background-color: rgba(255, 0, 0, 0.925);
    padding: 20px;
}

#footer ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin:0;
}

#footer li{
    padding: 0 10px;
    list-style: none;
}

#footer a{
    text-decoration: none;
    color: white;

}

#footer a:hover{
    color: rgb(0, 217, 255);
}

#footer span{
    margin-top: opx;
    display: flex;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
    

}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar:horizontal {
    height: 7px;
}

::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(128, 128, 128);
        border-radius: 15px;
}

::-webkit-scrollbar-thumb {
        background: rgba(255, 0, 0, 0.514);
        border-radius: 10px; 
}