body {
    background-color: white;
    color: #0f0b0b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    overflow-x: hidden;
}

#header{
    background-color: white;
    color: black;

}

.companylogo {
    width: 100px;
    padding: 10px;
    padding-left: 20px;

}

@media (max-width: 600px) {
    .companylogo {
      margin: 0 auto;
    }
  }

#nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));

}

#nav-bar ul{
    padding: 0;
    list-style: none;
    float: right;
    padding-top: 25px;
    padding-right: 20px;


}

@media (max-width: 600px) {
    #nav-bar ul{
    display: flex;
    flex-direction: column;
    }
  }

#nav-bar a{
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;

}

.app-text{
    text-align: center;
    text-decoration: none;
    color: rgb(55, 0, 255);

}

.app-text a:visited{
    text-decoration: underline;
    color: red;
}

.app-text a:hover{
    text-decoration: underline;
    color: green;
}

.app-text a:active{
    color: blue;
}

#form-photo{
    display: inline-block;
    width: 200px;
    display: flex;
}

.food{
    display: block;  
}

.caption{
    position: absolute;
    top: 480px;
    left: 30%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 250%;    
    width: 450px;
    word-wrap: break-word;
    font-size: x-large;
    
}





#formbox{
    width: 30%;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 60%;
    background-color: #ff00007c;
    border-radius: 20px;
    color: white;
    padding: 30px;
}

#submit{
    display: block;
    margin:auto;
    margin-top: 25px;
}

#content{
    position: absolute;
    width: 90%;
    height: 30%;
}

#submit{
    text-align: center;
}


input[type=text]{
    width: 90%;
    padding: 6px;
    border-color: white;
    border-radius: 10px 5px;
    margin: 10px;
}

input[type=submit]{
    background-color: #39d13e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    padding: 12px 20px;
    margin-top: 30px;
    width: 40%;
}

input[type=date]{
    width: 90%;
    padding: 6px;
    border-color: white;
    border-radius: 10px 5px;
    margin: 10px;
}

.register{
    text-align: center;
    padding-bottom: 10px;
    font-size: xx-large;

}

.discover{
    text-align: center;

    word-wrap: break-word;
    
}

.client{
    font-size: 1em;
}

.goto{
    color: rgb(0, 255, 42);
}

.app-text{
    color: red;
}

.app-text:hover{
    color: black;
}

.app-text:visited{
    color:blue;
}

.video{
    display: block;
    margin: auto;
    height: 390px;
    width: 500px;
    padding-top: 0;
    padding-bottom: 0px; 
    border-radius: 15px; 
    border-color: white;
    
    
}

#footer{
    margin-top: 20px;
    background-color: rgba(255, 0, 0, 0.925);
    padding: 20px;
}

#footer ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin:0;
}

#footer li{
    padding: 0 10px;
    list-style: none;
}

#footer a{
    text-decoration: none;
    color: white;

}

#footer a:hover{
    color: rgb(0, 217, 255);
}

#footer span{
    margin-top: opx;
    display: flex;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
    

}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar:horizontal {
    height: 7px;
}

::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(128, 128, 128);
        border-radius: 15px;
}

::-webkit-scrollbar-thumb {
        background: rgba(255, 0, 0, 0.514);
        border-radius: 10px; 
}

